In [28]:
high_schools = ['Hernandez High School','Figeuroa High School',
               'Wilson High School', 'Wright High School']

In [29]:
for schools in high_schools:
    print(schools)

Hernandez High School
Figeuroa High School
Wilson High School
Wright High School

In [30]:
# A list of dictionaries of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [31]:
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [32]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [33]:
# add pandas dependency
import pandas as pd

In [34]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [35]:
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [36]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [37]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [38]:
#three separate lists of information on highschools
school_id = [0, 1, 2, 3, 4]

school_name = ['Huang High School', 'Figuerora High School',
              'Shelton High School', 'Hernandez High School', 
              'Griffin High School']

type_of_school = ['District', 'District', 'Charter', 'District',
                 'Charter']

In [39]:
#Initialize a new DataFrame
schools_df = pd.DataFrame()

#add the list to a new DataFrame
schools_df["School ID"] = school_id

#print the DataFrame
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [40]:
schools_df['School Name'] = school_name
schools_df['type'] = type_of_school
schools_df

   School ID            School Name      type
0          0      Huang High School  District
1          1  Figuerora High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [41]:
# can also first change lists into dict and then to DF
# Create a dictionary of information on high schools.
#high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [42]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [43]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [44]:
# define the function 'say_hello' so it prints 'hello' when called
def say_hello():
    print('Hello!')

In [45]:
# call the funct
say_hello()

Hello!

In [46]:
# define the function 'say_something' so it prints whatever is passed as the var when called
def say_something(something):
    print(something)

In [47]:
# call say_something
say_something('Hello World!')

Hello World!

In [48]:
# define a function that calculates the % of students that passed both
# math and reading and returns the passing % when the function is called

def passing_math_percentage(passing_math_count, student_count):
    return passing_math_count/float(student_count) * 100

In [49]:
passing_math_count = 29370
total_student_count = 39170

#call the function
passing_math_percentage(passing_math_count, total_student_count)

74.9808526933878

In [52]:
# class and objects
class Cat:
    def __init__(self, name):
        self.name = name

In [54]:
first_cat = Cat('Felix')
second_cat = Cat('Garfield')

print(first_cat.name)
print(second_cat.name)

Felix
Garfield

In [57]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound
        
    def bark(self):
        return self.sound+' '+self.sound

In [59]:
first_dog = Dog('Maggie', 'Black', 'woof!')
print(first_dog.name)
print(first_dog.color)
first_dog.bark()

Maggie
Black

'woof! woof!'